!!!
%html
  %head
    %title Link Checker
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width')
    %script(src='js/jquery-2.0.0.min.js')
    %script(src='js/app.js')
    %link(rel='stylesheet' href='css/normalize.css')
    %link(rel='stylesheet' href='css/foundation.min.css')
    %link(rel='stylesheet' href='css/app.css')
  %body
    %nav.top-bar
      %ul.title-area.left
        %li.name
          %h1
            %a(href='https://github.com/cldwalker/link-checker') Source Code
      %ul.left
        %li.name
          %h1
            %a(href='https://github.com/cldwalker/link-checker#description') About
    .row
      %h1.title Link Checker
    .row
      %form
        %h2 Verify links for a given url
        %label.selector(for='selector') CSS Selector
          %span &nbsp;(optional)
        %input(name='selector' size='35' id='selector')
        %label.url(for='url')
          Url&nbsp;
          %span (Example:&nbsp;
            %a.url http://google.com
            )
        %input(name='url' id='url' size='80')
        %input.button.small.round(type='submit')
    .row
      .alert-box.alert
        #error
        %a.close(href='#') &times;
    .row
      #message.panel.large-12.columns
    .row
      %table#results.large-12.columns
        %thead
          %tr
            %th Url
            %th Status
        %tbody
