%tr#total-stats
  %td
    %h4 Total
  %td {{count-closed}}/{{count-total}} {{percent-closed}}
  %td {{count-answered}}/{{count-open}} {{percent-answered}}
  %td {{count-pull-requests}}/{{count-total}} {{percent-pull-requests}}
  %td(title='Average calculated from total issues') {{days-to-resolve-average}}
  %td(title='Average calculated from total issues') {{comments-average}}
  %td -
  %td -
