tr.failure td {
  background-color: rgba(238, 27, 27, 0.36);
}

tr.no-success td {
  background-color: rgb(194, 216, 255);
}

input {
  margin-bottom: 5px;
}

label.url {
  font-size: 30px;
}
label.selector {
 font-size: 25px;
}

label span {
  font-size: 20px;
  color: #999;
}

label .desc {
  font-size: 15px;
  color: #999;
}

#url {
  margin-right: 5px;
}

#message, #results, #results-control, .alert-box {
  display: none;
}
